@using Domain.Entities;

@typeparam TModel
@if (SpaPackage != null)
{
    <div class="card">
        @if (!string.IsNullOrEmpty(SpaPackage.PictureUrl))
        {
            <img class="card-img-top" src="@SpaPackage.PictureUrl" alt="@SpaPackage.Name" />
        }
        <div class="card-body">
            <h5 class="card-title">@SpaPackage.Name</h5>
            <p class="card-text">@SpaPackage.Price</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public SpaPackage SpaPackage { get; set; }
}
