@page "{id:int}"
@model PetSpaManagementWeb.Pages.PetSitterDashboard.EditModel
@{
}

<h1>Edit Appointment Status</h1>

<form method="post">
    <input type="hidden" asp-for="Appointment.Id" />

    <div class="form-group">
        <label for="Status">Status</label>
        <select asp-for="Appointment.Status" class="form-control">
            <option value="ABSENT">ABSENT</option>
            <option value="COMPLETED">COMPLETED</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/PetSitterDashboard/Index" class="btn btn-secondary">Cancel</a>
</form>
