@page
@model PetSpaManagementWeb.Pages.LoginPageModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5" style="text-align:center">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" style="text-align:center">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" style="text-align:center">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to PetSitting</h3>
            <div class="card-text">
                @if (Model.ErrorMessage != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @Model.ErrorMessage
                    </div>
                }
                <form method="post">
                    <div class="form-group">
                        <label class="text-left" asp-for="LoginModel.Email">Email address</label>
                        <input asp-for="LoginModel.Email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-left" asp-for="LoginModel.Password">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input asp-for="LoginModel.Password" type="password" class="form-control form-control-sm" id="exampleInputPassword1">
                        <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                    <div class="sign-up">
                        Don't have an account? <a asp-page="/Register">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
