@page
@model PetSpaManagementWeb.Pages.LogoutPageModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container p-4 mt-5">
    <h2>Logging out...</h2>
    <p>You will be redirected shortly.</p>
</div>